<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahmeddongl.topmovies" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Controller.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Controller.MoviesList"
            android:label="@string/title_activity_movies_list" >
            <meta-data android:name="android.app.default_searchable" android:value=".Controller.SearchResults" />
        </activity>

        <provider
            android:name=".Model.Data.MoviesProvider"
            android:authorities="com.example.ahmeddongl.topmovies" />

        <activity
            android:name=".Controller.MovieDetail"
            android:label="@string/title_activity_movie_detail"
            android:parentActivityName=".Controller.MoviesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.MoviesList" />
        </activity>
        <activity
            android:name=".Controller.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Controller.MoviesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.MoviesList" />
        </activity>

        <activity
            android:name=".Controller.SearchResults"
            android:label="@string/title_activity_search_results" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.MoviesList" />
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:resource="@xml/searchable"
            android:value=".controller.SearchResults" />

    </application>

</manifest>
